
MONGODB_DEV_CONNECTION_STRING= MONGO_CONN_STRING_FOR_DEV_GOES_HERE

MONGODB_PROD_CONNECTION_STRING=MONGO_CONN_STRING_FOR_PROD_GOES_HERE

APP_DEV_PORT=3001

APP_PROD_PORT=80

NODE_ENV=DEV

awsRegion=AWS_REGION_WILL_GO_HERE

accessKeyId= AWS_KEYS_WILL_GO_HERE

secretAccessKey=AWS_KEYS_WILL_GO_HERE