<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
   
        .main {
          width: 100%;
          max-width: 600px;
        }
      
      


    /* Content */
   
  </style>

  <center class="wrapper">
   

    <div class="spacer">&nbsp;</div>
    <br/>
    <br/>
<table  style="width:100%;background-color:#f8f8f8;border-radius:12px;max-width: 680px;">
<tbody >
  <tr >
    <td>
     <center> <img src="https://s3.amazonaws.com/unroll-images-production/projects%2F29008%2F1626933645069-Group+9266.png" style="width:100px;margin-bottom:12px;margin-top: 12px;"></center>
     
    </td>
  </tr>
  <tr>
    <td>
      <center>
      <table
      style="border-radius:12px; width:90%"
        class="main center"
        
        width="602"
        border="0"
        cellspacing="0"
        cellpadding="0"
      >
      <tbody>
        <tr  style="border-radius:12px;">
          <td class="column" style="border-radius:12px;background-color:#fff;padding-left:12px;padding-right:12px;">
            <div class="column-top">&nbsp;</div>
            <table class="content" border="0" cellspacing="0" cellpadding="0">
              <tbody>
                <tr>
                  <td class="padded">
                    
                    <p style="font-size:18px;font-weight: bold;margin-top:32px;text-align:center;color:#172A44">Hello</p>
                    <p style="font-size:14px;text-align:center;color:#172A44">Here is your security code</p>
                    <p style="font-size:24px;text-align:center;color:#007EA0;padding:8px;font-weight:bold">
                      {{token}}
                    </p>
                    <p style="font-size:14px;text-align:center;color:#172A44">Add this code to continue creating
                      your account.</p>
                
<p>
  <hr/>
</p>



                    <p style="font-size:14px;text-align:center;color:#172A44"><strong>Note: </strong> This code will expire in 10 minutes and 
                      have been sent to <em style="color:#007EA0">{{email}}</em></p>
                   



                   <center> <p style="font-size:14px;text-align:center;color:#172A44;width:90% ;">Need help ? contact us or
                      reach us on our social networks. 
                      Feel free to leave us a feedback on 
                       <em style="color:#007EA0">figgs.co/feedback</em></p>
                      </center>
                      <br/>
                    <p style="font-size:12px;text-align:center;color:#172A44;">Figgs inc: <br/>
                      <em style="color:#007EA0">  300 West hollywood, Los angeles CA 94103</em></p>


                
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="column-bottom">&nbsp;</div>
          </td>
        </tr>
      </tbody>
    </table>
  </center>
    <br/>
      </td>

      </tr>
     

  </table>

    <!-- <table
      class="footer center"
      width="602"
      border="0"
      cellspacing="0"
      cellpadding="0"
    >
      <tbody>
        <tr>
          <td class="border" colspan="2">&nbsp;</td>
        </tr>
        <tr>
          <td class="signature" width="300">
            <p>
              With best regards,<br />
              Figgs<br />
              +0 (000) 00-00-00, Figgs<br />
            </p>
            <p>
              Support:
              <a class="strong" href="mailto:#" target="_blank"
                >support@figgs.co</a
              >
            </p>
          </td>
        </tr>
      </tbody>
    </table> -->
  </center>
</html>
